pipeline/File_Source_metadata_extract.json
{
	"name": "File_Source_metadata_extract",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "onprim",
						"type": "DatasetReference",
						"parameters": {
							"File_name": {
								"value": "@pipeline().parameters.File_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Load File Information to Table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Load File Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Load File Information to Table",
						"type": "DataFlowReference",
						"parameters": {
							"itemname": {
								"value": "'@{pipeline().parameters.File_name}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Load File Information",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Get Metadata File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Load File Information",
						"type": "DataFlowReference",
						"parameters": {
							"childitems": {
								"value": "'@{activity('Get Metadata File').output.structure}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"parameters": {
			"File_name": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}