pipeline/Files_load_from_ftp_last_mdfd_dt.json
{
	"name": "Files_load_from_ftp_last_mdfd_dt",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata-Onprimse file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText_Onprim",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata-Onprimse file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata-Onprimse file').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "File_load_from_onprimese",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "File_load_from_onprimese",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"windowStart": {
										"value": "@pipeline().parameters.windowstarttime",
										"type": "Expression"
									},
									"windowEnd": {
										"value": "@pipeline().parameters.windowendtime",
										"type": "Expression"
									},
									"File_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"windowstarttime": {
				"type": "string"
			},
			"windowendtime": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}