pipeline/File_List_Get_Metadata.json
{
	"name": "File_List_Get_Metadata",
	"properties": {
		"activities": [
			{
				"name": "Lookup_file_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select file_name from metadata_file where metadata_extract = 'Y';",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable4",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop_Each_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_file_list').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Extract_File_Source_Metadata",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "File_Source_metadata_extract",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"File_name": {
										"value": "@item().file_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}