pipeline/File_load_from_onprimese.json
{
	"name": "File_load_from_onprimese",
	"properties": {
		"activities": [
			{
				"name": "Copy_pgs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@{pipeline().parameters.windowStart}",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@{pipeline().parameters.windowEnd}",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "Azureblob",
							"type": "LinkedServiceReference"
						},
						"path": "sources"
					}
				},
				"inputs": [
					{
						"referenceName": "onprim",
						"type": "DatasetReference",
						"parameters": {
							"File_name": {
								"value": "@{pipeline().parameters.File_name}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference",
						"parameters": {
							"SRC_TBL_NAME": {
								"value": "@{activity('Lookup1').output.firstrow.TABLE_NAME}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_NAME FROM METADATA_FILE\nWHERE FILE_NAME = '@{pipeline().parameters.File_name}';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable4",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "String"
			},
			"windowEnd": {
				"type": "String"
			},
			"File_name": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}